module.exports = {
    apps: [
        {
            name: "e-class-platform",
            script: "pnpm nx start platform",
            env: {
                NODE_ENV: "production",
                NEXTAUTH_SECRET: "{{ NEXTAUTH_SECRET }}",
                NEXTAUTH_URL: "{{ NEXTAUTH_URL }}",
                AUTH_SECRET: "{{ AUTH_SECRET }}",
                AUTH_ENABLE_TEST_ACCOUNTS: "{{ AUTH_ENABLE_TEST_ACCOUNTS | default(false) }}",
                AUTH_AUTH0_CLIENT_ID: "{{ AUTH_AUTH0_CLIENT_ID }}",
                AUTH_AUTH0_CLIENT_SECRET: "{{ AUTH_AUTH0_CLIENT_SECRET }}",
                AUTH_AUTH0_ISSUER: "{{ AUTH_AUTH0_ISSUER }}",
                AUTH_AUTH0_AUTHORIZATION_URL: "{{ AUTH_AUTH0_AUTHORIZATION_URL }}",
                AUTH_AUTH0_ROLES_CLAIM: "{{ AUTH_AUTH0_ROLES_CLAIM }}",
                AUTH_AUTH0_ROLES_CLAIM_KEY: "{{ AUTH_AUTH0_ROLES_CLAIM_KEY }}",
                E_CLASS_DEV_MODE: "false",
                NEXT_PUBLIC_E_CLASS_PLATFORM_SHORT_NAME: "just-do-ad",
                NEXT_PUBLIC_E_CLASS_PLATFORM_NAME: "JustDoAd",
                NEXT_PUBLIC_E_CLASS_PLATFORM_URL: "{{ NEXT_PUBLIC_E_CLASS_PLATFORM_URL }}",
                NEXT_PUBLIC_E_CLASS_PLATFORM_LOGO_URL: "https://static.wixstatic.com/media/9fe096_91d65ad491464eff8da1c0b2973b3f79~mv2.png/v1/fill/w_110,h_110,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/BA_Kreis_pos_500px.png",
                NEXT_PUBLIC_E_CLASS_CMS_REST_URL: "{{ NEXT_PUBLIC_E_CLASS_CMS_REST_URL }}",
                S3_HOSTNAME: "{{ S3_HOSTNAME }}",
                S3_PORT: "{{ S3_PORT }}",
                S3_PROTOCOL: "{{ S3_PROTOCOL }}"
            }
        }
    ]
};
