name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: [self-hosted, org-gh-runner]
    environment: CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      # This enables task distribution via Nx Cloud
      # Run this command as early as possible, before dependencies are installed
      # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
      # Uncomment this line to enable task distribution
      # - run: pnpm dlx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="e2e-ci"

      - name: Cache node_modules
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          cp .npmrc.template .npmrc
          sed -i "s/\$DAD_GH_NPM_TOKEN/${{ secrets.DAD_GH_NPM_TOKEN }}/g" .npmrc
          pnpm install --frozen-lockfile
          pnpm exec playwright install --with-deps

      - name: Set SHA for nx affected commands
        uses: nrwl/nx-set-shas@v4

      - name: Check Nx Sync
        run: ./tools/check-nx-sync.sh
        shell: bash

      - name: Lint
        run: pnpm exec nx run-many --no-cloud --skipNxCache -t lint --parallel=3
        env:
          'AUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'AUTH_ENABLE_TEST_ACCOUNTS': 'true'
          'AUTH_AUTH0_CLIENT_ID': ${{ secrets.AUTH_AUTH0_CLIENT_ID }}
          'AUTH_AUTH0_CLIENT_SECRET': ${{ secrets.AUTH_AUTH0_CLIENT_SECRET }}
          'AUTH_AUTH0_ISSUER': ${{ secrets.AUTH_AUTH0_ISSUER }}
          'AUTH_AUTH0_AUTHORIZATION_URL': ${{ secrets.AUTH_AUTH0_AUTHORIZATION_URL }}
          'NEXTAUTH_URL': 'https://example.com'
          'NEXTAUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'S3_HOSTNAME': 'localhost'
          'S3_PORT': '9000'
          'S3_PROTOCOL': 'http'
          'E_CLASS_DEV_MODE': 'true'

      - name: Build
        run: pnpm exec nx run-many --no-cloud --skipNxCache -t build --parallel=1
        env:
          NODE_OPTIONS: '--max-old-space-size=2560'
          'AUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'AUTH_ENABLE_TEST_ACCOUNTS': 'true'
          'AUTH_AUTH0_CLIENT_ID': ${{ secrets.AUTH_AUTH0_CLIENT_ID }}
          'AUTH_AUTH0_CLIENT_SECRET': ${{ secrets.AUTH_AUTH0_CLIENT_SECRET }}
          'AUTH_AUTH0_ISSUER': ${{ secrets.AUTH_AUTH0_ISSUER }}
          'AUTH_AUTH0_AUTHORIZATION_URL': ${{ secrets.AUTH_AUTH0_AUTHORIZATION_URL }}
          'NEXTAUTH_URL': 'https://example.com'
          'NEXTAUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'S3_HOSTNAME': 'localhost'
          'S3_PORT': '9000'
          'S3_PROTOCOL': 'http'
          'E_CLASS_DEV_MODE': 'true'

      - name: Test
        run: pnpm exec nx run-many --no-cloud --skipNxCache -t test --parallel=2
        env:
          'AUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'AUTH_ENABLE_TEST_ACCOUNTS': 'true'
          'AUTH_AUTH0_CLIENT_ID': ${{ secrets.AUTH_AUTH0_CLIENT_ID }}
          'AUTH_AUTH0_CLIENT_SECRET': ${{ secrets.AUTH_AUTH0_CLIENT_SECRET }}
          'AUTH_AUTH0_ISSUER': ${{ secrets.AUTH_AUTH0_ISSUER }}
          'AUTH_AUTH0_AUTHORIZATION_URL': ${{ secrets.AUTH_AUTH0_AUTHORIZATION_URL }}
          'NEXTAUTH_URL': 'https://example.com'
          'NEXTAUTH_SECRET': 'Wu/hegOKb+gqUY9pBZeLyZQLatMlZSWvK'
          'S3_HOSTNAME': 'localhost'
          'S3_PORT': '9000'
          'S3_PROTOCOL': 'http'
          'E_CLASS_DEV_MODE': 'true'
